<div
  class="gap-4 min-h-screen max-h-screen max-w-xs bg-base-200 duration-200 ease-linear absolute z-40 left-20 overflow-auto"
  [ngClass]="
    (sideBarService.$shouldShow | async) == false
      ? ['-translate-x-full', '!left-0']
      : ['']
  "
>
  <h1 class="card-title p-4 text-2xl">
    <span>Templates</span>
  </h1>

  <ul class="menu bg-base-200 w-full h-full flex-nowrap p-2 gap-1">
    <li *ngFor="let template of templateService.templates$ | async; index as i">
      <a
        routerLinkActive="active"
        [routerLink]="[template.id]"
        class="whitespace-nowrap overflow-hidden overflow-ellipsis max-w-full inline-block"
        (click)="sideBarService.toggle()"
      >
        {{ template.name }}
      </a>
    </li>
  </ul>
</div>
<div
  class="ml-60 duration-200 min-w-full md:min-w-0 ease-linear overflow-auto"
  [ngClass]="(sideBarService.$shouldShow | async) == false ? ['ml-0'] : ['']"
>
  <router-outlet></router-outlet>
</div>
