<div *ngIf="selectedTemplate$ | async as template" class="flex justify-center">
  <div
    [formGroup]="templateFormService.form"
    class="card w-full h-screen bg-base-100 max-w-5xl"
  >
    <div class="card-body">
      <app-side-bar-toggle class="lg:hidden"></app-side-bar-toggle>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input
          type="text"
          class="input w-full bg-base-300"
          formControlName="name"
        />
      </div>

      <div class="block md:flex">
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Default To</span>
          </label>
          <input
            type="text"
            class="input w-full bg-base-300"
            formControlName="defaultTo"
          />
        </div>
        <div class="form-control w-full mt-2 md:ml-5 md:mt-0">
          <label class="label">
            <span class="label-text">Default CC</span>
          </label>
          <input
            type="text"
            class="input w-full bg-base-300"
            formControlName="defaultCC"
          />
        </div>
      </div>
      <div
        formArrayName="fields"
        class="border-4 border-base-200 card w-full h-full max-h-72 overflow-auto bg-base-100 mt-4"
      >
        <div class="card-body">
          <div class="flex gap-5">
            <h2 class="card-title">Fields</h2>
            <button
              class="btn btn-circle btn-accent"
              (click)="onAddFieldClick()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M11 19v-6H5v-2h6V5h2v6h6v2h-6v6Z"
                />
              </svg>
            </button>
          </div>

          <div class="flex gap-x-12 gap-y-4 flex-wrap justify-center mt-2">
            <div class="overflow-x-auto w-full">
              <table class="table w-full table-compact">
                <!-- head -->
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th class="w-0">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- row 1 -->
                  <tr
                    *ngFor="
                      let field of this.templateFormService.formFields.controls;
                      index as i
                    "
                  >
                    <th>{{ i + 1 }}</th>
                    <td>{{ field.get("id")!.value }}</td>
                    <td>{{ field.get("name")!.value }}</td>
                    <td>
                      <button
                        (click)="onEditFieldClick(i, field.value)"
                        class="btn btn-circle btn-outline btn-secondary"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          preserveAspectRatio="xMidYMid meet"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill="currentColor"
                            d="m19.3 8.925l-4.25-4.2l1.4-1.4q.575-.575 1.413-.575q.837 0 1.412.575l1.4 1.4q.575.575.6 1.388q.025.812-.55 1.387ZM17.85 10.4L7.25 21H3v-4.25l10.6-10.6Z"
                          />
                        </svg>
                      </button>
                      <button
                        (click)="onDeleteFieldClick(i)"
                        class="btn btn-circle btn-outline ml-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          preserveAspectRatio="xMidYMid meet"
                          viewBox="0 0 256 256"
                        >
                          <path
                            fill="currentColor"
                            d="M216 48h-40v-8a24.1 24.1 0 0 0-24-24h-48a24.1 24.1 0 0 0-24 24v8H40a8 8 0 0 0 0 16h8v144a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16V64h8a8 8 0 0 0 0-16ZM96 40a8 8 0 0 1 8-8h48a8 8 0 0 1 8 8v8H96Zm96 168H64V64h128Zm-80-104v64a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0Zm48 0v64a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0Z"
                          />
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="border-4 border-base-200 card w-full h-full bg-base-100 mt-4">
        <div class="card-body">
          <h2 class="card-title">Body</h2>
          <div class="flex justify-center h-full mt-3">
            <textarea
              formControlName="body"
              class="textarea bg-base-300 w-full h-full"
              placeholder=""
            ></textarea>
          </div>
        </div>
      </div>
      <div class="card-actions justify-end mt-6">
        <button
          (click)="onDeleteTemplateClick(template.id)"
          class="btn btn-error btn-outline self-center"
        >
          DELETE
        </button>
        <button
          class="btn btn-primary"
          [ngClass]="
            this.templateFormService.form.dirty &&
            this.templateFormService.form.valid
              ? ''
              : 'btn-disabled'
          "
          (click)="updateTemplate(template.id)"
        >
          SAVE
        </button>
      </div>
    </div>
  </div>
</div>
