<ng-container *ngIf="templates$ | async as templates">
  <ng-container *ngIf="templates.length > 0; else redirectTemplate">
    <ng-container *ngIf="authService.token$ | async as token; else redirect">
      <div class="flex justify-center">
        <div class="card w-screen h-screen bg-base-100 max-w-5xl">
          <div class="card-body">
            <h2 class="card-title">
              <app-side-bar-toggle class="lg:hidden"></app-side-bar-toggle>
              <span class="ml-2 md:ml-0">Send Lazy Emails</span>
            </h2>
            <select
              class="select w-full mt-7 bg-base-300"
              [formControl]="selectedTemplateForm"
            >
              <option [value]="''" disabled selected>Pick Template</option>
              <option *ngFor="let template of templates" [value]="template.id">
                {{ template.name }}
              </option>
            </select>
            <ng-container
              *ngIf="selectedTemplate$ | async as selectedTemplate"
              [formGroup]="sendForm"
            >
              <div class="block md:flex">
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text">To</span>
                  </label>
                  <input
                    formControlName="to"
                    type="text"
                    class="input w-full bg-base-300"
                  />
                </div>
                <div class="form-control w-full mt-2 md:ml-5 md:mt-0">
                  <label class="label">
                    <span class="label-text">CC</span>
                  </label>
                  <input
                    formControlName="cc"
                    type="text"
                    class="input w-full bg-base-300"
                  />
                </div>
              </div>
              <div
                class="border-4 border-base-200 card w-full bg-base-100 mt-4"
              >
                <div class="card-body">
                  <h2 class="card-title">Fields</h2>
                  <div
                    class="flex gap-x-12 gap-y-4 flex-wrap justify-center"
                    formArrayName="fields"
                  >
                    <div
                      *ngFor="let field of sendFormFields.controls; index as i"
                      class="form-control w-full md:basis-5/12"
                      [formGroupName]="i"
                    >
                      <label class="label">
                        <span class="label-text">{{
                          field.get("name")!.value
                        }}</span>
                      </label>
                      <input
                        formControlName="value"
                        type="text"
                        class="input w-full bg-base-300"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-actions justify-end mt-6">
                <button (click)="onSendClick()" class="btn btn-primary">
                  SEND
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #redirect>
  <div class="flex h-screen justify-center card-title">
    <span class="self-center -translate-y-full">
      Please
      <a class="link link-secondary" routerLink="/account">login</a>
      first
    </span>
  </div>
</ng-template>
<ng-template #redirectTemplate>
  <div class="flex h-screen justify-center card-title">
    <span class="self-center -translate-y-full">
      Please
      <a class="link link-secondary" routerLink="/template">setup templates</a>
      first
    </span>
  </div>
</ng-template>
