<div class="flex h-screen justify-center p-5">
  <div
    class="card self-center -translate-y-full max-w-md h-fit w-full bg-base-300 shadow-xl"
  >
    <div class="card-body">
      <h2 class="card-title justify-start md:justify-center">
        <app-side-bar-toggle class="lg:hidden"></app-side-bar-toggle>
        <span class="ml-2"> Account </span>
      </h2>
      <div class="card-actions justify-center mt-7">
        <button
          [disabled]="!(btnEnabled$ | async)"
          (click)="onClick()"
          class="btn btn-primary"
        >
          Login with Google
        </button>
        <!-- <div id="gbtn"></div> -->
      </div>
    </div>
  </div>
</div>
